{%extends "base.html"%}
{%block styles%}
{{super()}}
<link rel="stylesheet" href="{{url_for('static', filename = 'css/about.css')}}">
{%endblock%}

{%block content%}

<div class="container">

        <h1 class="text-center" style="font-family: 'Major Mono Display', monospace; font-size: 70px;">Legal Update️</h1>
        <p class="text-center" style="font-family: 'Major Mono Display', monospace; font-size: 20px;">By Team 3 Law Firm <span style="font-size: 17px;" >™<span></p>
        <div class="text-center">
                <p><i class="fa fa-balance-scale fa-5x" ></i></p>
            </a>
        </div>
    <br>

        <div class="content">
            <br>
            <h2 class="h2-heading">ABOUT US</h2>
            <p class="my-2">
        <div class="cards-1" style="width:70rem">
        <div class="card" style="display: inline-block;">
            </p>
            <p>
                <strong>Legal Update</strong> is an <strong>in-house</strong> Legal Application that enables Lawyers to: Create Digital Versions of their Client's Files ,
                Update the Status of these Files and View All their Client Files.
            </p>
            </p>
        </div>
        </div>
    </div>
           <br>

<!--            Features-->
            <div class="cards-1">
            <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="h2-heading">FEATURES</h2>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
            <div class="row">
                <div class="col-lg-4">

                    <!-- Card -->
                    <div class="card" style="display: inline-block;">
                        <div class="card-image">
                            <img class="img-fluid" src="static/photos/description-1.png" alt="alternative">
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">Create Client Files</h4>
                            <p>It's very easy to digitise your client files. Just Signup to Legal Update and Upload your File Details.</p>
                        </div>
                    </div>
                    <!-- end of card -->
                </div>

                <div class="col-lg-4">
                    <!-- Card -->
                    <div class="card" style="display: inline-block;">
                        <div class="card-image">
                            <img class="img-fluid" src="static/photos/description-2.png" alt="alternative">
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">View Client Files</h4>
                            <p>This feature is at the core of this App's functionalities. View all your Client's Files in one platform.</p>
                        </div>
                    </div>
                    <!-- end of card -->
                </div>

                <div class="col-lg-4">
                    <!-- Card -->
                    <div class="card" style="display: inline-block;">
                        <div class="card-image">
                            <img class="img-fluid" src="static/photos/description-3.png" alt="alternative">
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">Update File Status</h4>
                            <p>Keep your Client's Files Updated your through our Status Update Feature.</p>
                        </div>
                    </div>
                    <!-- end of card -->
                </div><!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of cards-1 -->
    <!-- end of description -->

            </p>
<!--Customers-->
<!--            <div class="cards-1">-->
<!--            <div class="container" id="customerpane">-->
<!--                <div class="row">-->
<!--                <div class="col-lg-12">-->
<!--            <h3 class="my-4">CUSTOMERS</h3>-->
<!--                </div>-->
<!--                </div>-->

<!--                <div class="row">-->
<!--                    <div class="col-lg-12">-->
<!--            <div class="slider-container">-->
<!--                &lt;!&ndash; Card &ndash;&gt;-->
<!--                <div class="card" style="display: inline-block;">-->
<!--                        <div class="card-image">-->
<!--                        <div class="swiper-container image-slider">-->
<!--                            <div class="swiper-wrapper">-->
<!--                                <div class="swiper-slide">-->
<!--                                        <img class="img-fluid" src="static/photos/customer-logo-1.png" alt="alternative">-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        </div>-->
<!--                </div>-->
<!--                    &lt;!&ndash; Card &ndash;&gt;-->
<!--                <div class="card" style="display: inline-block;">-->
<!--                        <div class="card-image">-->
<!--                                <div class="swiper-slide">-->
<!--                                        <img class="img-fluid" src="static/photos/customer-logo-2.png" alt="alternative">-->
<!--                                </div>-->
<!--                        </div>-->
<!--                </div>-->

<!--                <div class="card" style="display: inline-block;">-->
<!--                        <div class="card-image">-->
<!--                                <div class="swiper-slide">-->
<!--                                        <img class="img-fluid" src="static/photos/customer-logo-3.png" alt="alternative">-->
<!--                                </div>-->
<!--                        </div>-->
<!--                </div>-->

<!--                <div class="card" style="display: inline-block;">-->
<!--                        <div class="card-image">-->
<!--                                <div class="swiper-slide">-->
<!--                                        <img class="img-fluid" src="static/photos/customer-logo-4.png" alt="alternative">-->
<!--                                </div>-->
<!--                        </div>-->
<!--                </div>-->

<!--                <div class="card" style="display: inline-block;">-->
<!--                        <div class="card-image">-->
<!--                                <div class="swiper-slide">-->
<!--                                        <img class="img-fluid" src="static/photos/customer-logo-5.png" alt="alternative">-->
<!--                                </div>-->
<!--                        </div>-->
<!--                </div>-->
<!--                <div class="card" style="display: inline-block;">-->
<!--                        <div class="card-image">-->
<!--                                <div class="swiper-slide">-->
<!--                                        <img class="img-fluid" src="static/photos/customer-logo-6.png" alt="alternative">-->
<!--                                </div>-->
<!--                        </div>-->
<!--                </div>-->
<!--                            </div> &lt;!&ndash; end of swiper-wrapper &ndash;&gt;-->
<!--                        </div> &lt;!&ndash; end of swiper container &ndash;&gt;-->
<!--                    </div> &lt;!&ndash; end of slider-container &ndash;&gt;-->
<!--                    &lt;!&ndash; end of image slider &ndash;&gt;-->
<!--            </div>-->
<!--            </div>-->
            <br>


            <div class="my-cards">
              <div class="card-columns">
                <div class="row">
                  <div class="col-md-3">
                    <div class="card shadow" style="width: 69rem;">
                      <div class="inner">
                        <img
                          class="card-img-top" style="height: 20rem;"
                          src="static/photos/asana.jpg"
                          alt="card image cap"
                        />

                          <div class="card-body text-center">
                        <h5 class="card-title">Lawyers Portal</h5>
                        <p class="card-text">Client & File Management</p>
                        <a href="{{url_for('auth.login')}}" class="btn btn-primary">Sign In</a>
                      </div>
                      </div>


                    </div>
                  </div>
                </div>
            </div>


            <div class="col-md-4">
                    <div class="footer-col last">
                        <h2 class="h2-heading">CONTACT</h2>
                        <ul class="list-unstyled li-space-lg p-small">
                            <li class="media">
                                <i class="fas fa-map-marker-alt"></i>
                                <div class="media-body">22 Innovative Road, Nairobi, Kenya</div>
                            </li>
                            <li class="media">
                                <i class="fas fa-envelope"></i>
                                <div class="media-body"><a class="white" href="mailto:contact@legalupdate.com">contact@legalupdate.com</a> <i class="fas fa-globe"></i><a class="white" href="#your-link">www.legalupdate.herokuapp.com</a></div>
                            </li>
                        </ul>
                    </div>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of footer -->
    <!-- end of footer -->

          </div>
        </div>
      </div>
    </div>


    </div>
</div>
{%endblock%}


